* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/background_image.jpg);
  color: white;
}

#container {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid red;
  height: 700px;
  margin: 20px 50px;
}
#title {
  font-family: "Bowlby One SC", cursive;
  font-size: 25px;
  padding-top: 8px;
  letter-spacing: 3px;
  text-align: center;
}
.span1 {
  color: red;
}
