* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/background_image.jpg);
  color: white;
}

#container {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid red;
  height: 700px;
  margin: 20px 50px;
}
#title {
  font-family: "Bowlby One SC", cursive;
  font-size: 25px;
  padding-top: 8px;
  letter-spacing: 3px;
  text-align: center;
}
.span1 {
  color: red;
}

#description {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

#survey-form {
 
  width: 250px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 5px;
  
  margin: auto;
}

.box{
  margin-top: 10px ;
  margin-left: 20px;

}

.content{
  width: 200px;
  height: 20px;
  padding: 5px;
  margin-top: 8px;
  

}
#content-type{
  box-sizing: content-box;
  resize: none;
}
#submit{
  height: 23px;
  width: 80px;
  background-color: #ff0000;
  border-radius: 25px;
  display: inline-block;
  color: white;
  margin-left: 60px;
  margin-bottom: 8px;
  border: none;
  text-align: center;

}

#submit:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}
.textarea {
  margin-top: 5px;
}